Percent signs in the `to` break nuxt-link components

### Version

[v2.8.1](https://github.com/nuxt.js/releases/tag/v2.8.1)

### Reproduction link

[https://codesandbox.io/embed/example-hello-world-oe5hy](https://codesandbox.io/embed/example-hello-world-oe5hy)

### Steps to reproduce

<NLink to="/about?q=asdf%">About Page with a percent query</NLink>

I expected  but

### What is expected ?

The link to point to "/about?q=asdf%"

### What is actually happening?

It links to "/about".

### Additional comments?

I have a workaround - to use `%25` instead of the percent sign. But considering that isn't needed for HTML anchors as far as I'm aware, nuxt links might want to fix this or at least explicitly error instead of silently erasing parts of the link.

<!--cmty-->
<div align="right"><sub><em>This bug report is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/nuxt.js/issues/c9656">#c9656</a>)</em></sub></div>

Does the bug exist when trying to use pure Vue + `vue-router` as well?

According to [RFC-3986 section 2.4](https://tools.ietf.org/html/rfc3986#section-2.4) a `%` should always be encoded as `%25`:

> Because the percent ("%") character serves as the indicator for
> percent-encoded octets, it must be percent-encoded as "%25" for that
> octet to be used as data within a URI.

Closing this due to my previous remark, dont think there is something we can do about this :)